
.row {
  text-align: center;
  padding-top: 50px;
  padding-right: 50px;
  font-weight: bold;
  font-family: 'Cambay', sans-serif;
}

ul li{
  display: inline;
  list-style: none;
  padding-left: 20px;
  text-align: center;
}
li a {
  color: black;
  text-decoration: none;

}

img.logo{
  width: auto;
  padding-left: 10px;
}
.picture {
  padding: 10px;
}
.partners{
  text-align: center;
}
.discover{
  background-image: url('images/discover.jpg');
  position: relative;
  text-align: center;
  /*background-size: cover;*/
  padding:100px;
  width: 100%;
  padding-bottom: 120px;
}
.center {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: white;
    font-weight: bold;
    font-family: 'Cambay', sans-serif;
}
.center2 a{
  color: white;
  text-decoration: none;
}
.center2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: white;
    border: 1px solid white;
    padding: 4px;
}
.container3 {
    position: relative;
}
.opp1{
  font-family: 'Cambay', sans-serif;
  color: white;
}
.opp2{
  font-family: 'Cambay', sans-serif;
  font-weight: lighter;
  color: white;
  border: 1px solid white;
  font-size: 12px;
  /*border-color: white;*/
  /*padding: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 390px;
  margin-right: 390px;*/
}
h4{
  font-family: 'Cambay', sans-serif;
  font-weight: lighter;
  color: white;
  border: 1px solid white;
  font-size: 12px;
  /*border-color: white;*/
  padding: 8px;

}
/*img {
  width: 100%;
}*/
h2 {
  position: relative;
  text-align: center;
}

h2 span {
  background: #fff;
  padding: 0 12px;
  position: relative;
  z-index: 1;
  font-size: 25px;
  font-family: 'Cambay', sans-serif;
  font-weight:600;
}

h2:before {
  background: #0097CE;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  top: 50%;
  width: 100%;
}
h2:before {
  left: 0;
}
.discover img{
  padding-left: 20px;
}
.footer{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 0px;
  font-family: 'Cambay', sans-serif;
  margin-bottom: 20px;
  }
.footer li{
  text-align: center;
  border-right-style: solid;
  border-color: #CC5F64;
  border-width: 2px;
  padding-right: 15px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 720px) {

  ul li{
    display: inline-flex;
    padding-left: 0px;
    padding-bottom: 5px;
    font-size: 5px;
  }
  .row{
    padding-top: 20px;
    padding-right: 30px;
  }
  img.logo{
    padding-top: 5px;
    width: 50px;
    padding-left: 0px;

  }
  .center{
    top: 35%;
    left: 50%;
    font-size: 8px;
  }
  .center2{
    top: 60%;
  }
  .emblem{
    padding-bottom: 10px;
  }
  h2 span{
    font-size: 20px
  }
  .footer {
    padding-top: 10px;
    padding-left: 2px;
  }

  .footer li{
    font-size: 8px;
    border-color: white;
    display: inline-flex;
    text-align: center;
    padding-right: 2px;
  }
 .center{
   font-size: 8px;
 }
 .center2{
   font-size: 5px;
 }
 /*@media only screen and (min-device-width : 7201px) and (max-device-width : 720px)*/
